body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 0 10px;
    font-family: monospace;
    background-image: url('../images/space.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

a {
    color: white
}

a:hover {
    color: white;
    font-weight: bold;
    font-style: italic;
}

h1,
h2,
h3 {
    padding: 0 10px 0 10px;
}

h1 {
    text-align: center;
}

div {
    background-color: black;
    border: 1px solid white;
    margin-bottom: 20px;
}

div.description{
    text-align: center;
}

p {
    padding: 0 10px 0 10px;
}