body {
  font-family: sans-serif;
  text-align: center;
  background: lightgrey;
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 { line-height: 1.2; }

h1 { margin: 60px 0 10px; }

h2 { margin: 50px 0 10px; }

h3 { margin: 30px 0 10px; }

p { margin: 10px 0 20px; }

h1 a {
  color: white;
  background-color: #e34234;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px;
}


h1 span{
  color: white;
  background-color: #e34234;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px;
}

h2 span{
  color: white;
  background-color: #e34234;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px;
}

h3 span {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px;
  font-weight: bold;
}


h1 a:visited {
  color: white;
}


a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
  font-style: italic;
  background-color: black;
}

hr {
  border-color: #ce46e8;
}

.center {
  text-align: center;
  display: inline-block;
}

.thought {
  display: inline-block;
  width: 50em;
  text-align: left;
}

.thought h1 {
  text-align: center;
}

.nav {
  align: center;
  margin: 0px 0px 8px 0px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.nav ul li {
  float: left;
  padding: 8px;
}

.nav ul li a {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
}

.nav ul li a:hover {
  color: black;
  background-color: white;
}

.container img {
  width: 100%;
}
::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}

.img-circle {
  border: 5px solid lightgrey;
  float: left;
  margin-right: 20px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
